@import "./mixin";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  .nav_links {
    display: flex;
    align-items: center;
    gap: 45px;
    ul {
      display: flex;
      align-items: center;
      gap: 45px;
      li {
        a {
          font-family: "DM Sans";
          font-weight: 500;
          font-size: 14px;
          color: #f9fafb;
        }
      }
    }
    form {
      button {
        background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
        border-radius: 5px;
        border: none;
        padding: 10px 15px;
        font-family: "DM Sans";
        font-weight: 500;
        font-size: 14px;
        color: #f9fafb;
      }
    }
  }
}
